@font-face {
    font-family: 'Britanica-Heavy Regular';
    src: url('../../fonts/Britanica-Heavy\ Regular/Britanica-Heavy Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }